<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<localRepository>${user.home}/.m2/artfct_repo</localRepository>
	<servers>
		<server>
			<username></username>
			<password></password>
			<id>central</id>
		</server>
		<server>
			<username></username>
			<password></password>
			<id>oracle-cache</id>
		</server>
		<server>
			<username></username>
			<password></password>
			<id>snapshots</id>
		</server>
		<server>
			<username></username>
			<password></password>
			<id>apps-release</id>
		</server>
		<server>
			<username></username>
			<password></password>
			<id>apps-snapshot</id>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>libs-release</name>
					<url>https://j2ee.rms.ray.com/artifactory/libs-release</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<id>oracle-cache</id>
					<name>oracle-cache</name>
					<url>https://j2ee.rms.ray.com/artifactory/oracle-cache</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>libs-snapshot</name>
					<url>https://j2ee.rms.ray.com/artifactory/libs-snapshot</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>apps-release</id>
					<name>apps-release</name>
					<url>https://j2ee.rms.ray.com/artifactory/apps-release</url>
				</repository>
				<repository>
					<snapshots />
					<releases>
						<enabled>false</enabled>
					</releases>
					<id>apps-snapshot</id>
					<name>apps-snapshot</name>
					<url>https://j2ee.rms.ray.com/artifactory/apps-snapshot</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>plugins-release</name>
					<url>https://j2ee.rms.ray.com/artifactory/plugins-release</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>plugins-release</name>
					<url>https://j2ee.rms.ray.com/artifactory/plugins-release</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>
