
provider "aws" {
  max_retries = 5
}

terraform {
   required_providers {
        aws = {
            source  = "hashicorp/aws"
            version = "5.47.0"
        }
    }
    
    backend "s3" {
        bucket = "S3_BUCKET_TFSTATE"
        key    = "TF_STATE_FILENAME"
        region = "AWS_DEFAULT_REGION"
    }
}

