
@page
@model LoginModel
<form method="post">
    <label>Username: <input type="text" name="Username" /></label><br/>
    <label>Password: <input type="password" name="Password" /></label><br/>
    <button type="submit">Login</button>
</form>
